/* CHAT */
/* Task Tab */
.task-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.task-card {
    display: flex;
    flex-direction: column;
    outline: 2px black solid;
    border-radius: 5px;
    padding: 1rem;
    gap: 0.5rem;
}

.task-card * {
    margin: 0;
}

.task-status {
    display: flex;
}

/* COMPONENTS */
/* Message */
.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.message-user,
.message-content {
    all: unset;
}

.message-user {
    font-weight: bold;
}

.message-content {
    outline: solid black 2px;
    padding: 0.5rem 1rem;
    border-radius: 0 15px 15px 15px;
}
