.task-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.task-card {
    display: flex;
    flex-direction: column;
    outline: 2px black solid;
    border-radius: 5px;
    padding: 1rem;
    gap: 0.5rem;
}

.task-card * {
    margin: 0;
}

.task-status {
    display: flex;
}
